<div class="jumbotron">
  <h1>PDQ Planner</h1>
  <p>Action-Oriented Meetings with Follow-Through!</p>
  <p><a class="btn btn-primary btn-lg" href="/meetings/new" role="button">Create a New Meeting</a></p>
</div>

<div class="page-header">
  <h3>Here Are Your Meetings:</h3>
</div>

<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "meetings_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :location_cont, "Location contains" %>
    <%= f.text_field :location_cont, :class => "form-control", :placeholder => "Location contains" %>
  </div>

<div class="form-group">
    <%= f.label :time_cont, "Time contains" %>
    <%= f.text_field :time_cont, :class => "form-control", :placeholder => "Time contains" %>
  </div>

<div class="form-group">
    <%= f.label :date_cont, "Date contains" %>
    <%= f.text_field :date_cont, :class => "form-control", :placeholder => "Date contains" %>
  </div>

<div class="form-group">
    <%= f.label :benefit_cont, "Benefit contains" %>
    <%= f.text_field :benefit_cont, :class => "form-control", :placeholder => "Benefit contains" %>
  </div>

<div class="form-group">
    <%= f.label :purpose_cont, "Purpose contains" %>
    <%= f.text_field :purpose_cont, :class => "form-control", :placeholder => "Purpose contains" %>
  </div>

<div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "PostMeetingCheck Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='post_meeting_checksgteqcreated_atPicker'>
                  <%= f.text_field :post_meeting_checks_created_at_gteq, :class => "form-control", :placeholder => "PostMeetingCheck Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='post_meeting_checkslteqcreated_atPicker'>
                  <%= f.text_field :post_meeting_checks_created_at_lteq, :class => "form-control", :placeholder => "PostMeetingCheck Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#post_meeting_checksgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#post_meeting_checkslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#post_meeting_checksgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#post_meeting_checkslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#post_meeting_checkslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#post_meeting_checksgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "MeetingAttendance Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='meeting_attendancesgteqcreated_atPicker'>
                  <%= f.text_field :meeting_attendances_created_at_gteq, :class => "form-control", :placeholder => "MeetingAttendance Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='meeting_attendanceslteqcreated_atPicker'>
                  <%= f.text_field :meeting_attendances_created_at_lteq, :class => "form-control", :placeholder => "MeetingAttendance Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#meeting_attendancesgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#meeting_attendanceslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#meeting_attendancesgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#meeting_attendanceslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#meeting_attendanceslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#meeting_attendancesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/meetings" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#meetings_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Purpose</th>
        <th>Benefit</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>

      <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.title %></td>
        <td><%= meeting.purpose %></td>
        <td><%= meeting.benefit %></td>
        <td>
          <% if meeting.user.present? %>
            <a href="/users/<%= meeting.user.id %>">
              <%= meeting.user.name %>
            </a>
          <% end %>
        </td>
        <td><%= meeting.date %></td>
        <td><%= meeting.time %></td>
        <td><%= meeting.location %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/meetings/<%= meeting.id %>" button type="button" class="btn btn-primary">Show</button>
            <a href="/meetings/<%= meeting.id %>/edit" button type="button" class="btn btn-warning">Edit</button>
            <a href="/delete_meeting/<%= meeting.id %>" button type="button" class="btn btn-danger" rel="nofollow">Delete</button>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @meetings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
