<!-- Validation failure messages -->
<% if @meeting.errors.any? %>
  <% @meeting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Meeting</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_meeting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @meeting.title %>">
      </div>

      <!-- Label and input for purpose -->
      <div class="form-group">
        <label for="purpose" class="control-label">
          Purpose
        </label>

        <input type="text" id="purpose" name="purpose" placeholder="Purpose" class="form-control" value="<%= @meeting.purpose %>">
      </div>

      <!-- Label and input for benefit -->
      <div class="form-group">
        <label for="benefit" class="control-label">
          Benefit
        </label>

        <input type="text" id="benefit" name="benefit" placeholder="Benefit" class="form-control" value="<%= @meeting.benefit %>">

      <!-- Label and input for check_id -->
      <div class="form-group">
        <label for="check_id" class="control-label">
          Check
        </label>

        <input type="text" id="check_id" name="check_id" placeholder="Check" class="form-control" value="<%= @meeting.check_id %>">
      </div>

      <button class="btn btn-success">
        Create Meeting
      </button>
      or
      <a href="/meetings">Cancel</a>
    </form>
  </div>
</div>
