<!-- Validation failure messages -->
<% if @meeting.errors.any? %>
  <% @meeting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="jumbotron">
  <h1>Create a New Meeting</h1>
  </div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_meeting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Meeting Title" class="form-control" value="<%= @meeting.title %>">
      </div>

      <!-- Label and input for purpose -->
      <div class="form-group">
        <label for="purpose" class="control-label">
          Purpose
        </label>

        <input type="text" id="purpose" name="purpose" placeholder="Why are you having this meeting?" class="form-control" value="<%= @meeting.purpose %>">
      </div>

      <!-- Label and input for benefit -->
      <div class="form-group">
        <label for="benefit" class="control-label">
          Benefit
        </label>

        <input type="text" id="benefit" name="benefit" placeholder="What will attendees gain from this meeting?" class="form-control" value="<%= @meeting.benefit %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="What day is this meeting?" class="form-control" value="<%= @meeting.date %>">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="What time is this meeting?" class="form-control" value="<%= @meeting.time %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Where is this meeting?" class="form-control" value="<%= @meeting.location %>">
      </div>

      <button class="btn btn-success">
        Create Meeting
      </button>
      or
      <a href="/meetings">Cancel</a>
    </form>
  </div>
</div>
