<div class="page-header">
  <h3>Meeting #<%= @meeting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @meeting.user.present? %>
          <a href="/users/<%= @meeting.user_id %>">
            <%= @meeting.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= @meeting.title %></dd>

      <dt>Purpose</dt>
      <dd><%= @meeting.purpose %></dd>

      <dt>Benefit</dt>
      <dd><%= @meeting.benefit %></dd>

      <dt>Check</dt>
      <dd><%= @meeting.check_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meetings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @meeting.user %>
        <a href="/meetings/<%= @meeting.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_meeting/<%= @meeting.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Meeting has many post_meeting_checks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Post_meeting_checks
      </li>

      <% @meeting.post_meeting_checks.each do |post_meeting_check| %>
        <li class="list-group-item">
          <a href="/post_meeting_checks/<%= post_meeting_check.id %>">
            <%= post_meeting_check.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/post_meeting_checks/<%= post_meeting_check.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/post_meeting_checks/<%= post_meeting_check.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_post_meeting_check/<%= post_meeting_check.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_post_meeting_check" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for check_id -->
      <div class="form-group">
        <label for="check_id" class="control-label">
          Check
        </label>

        <%= select_tag(:check_id, options_from_collection_for_select(Meeting.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for task -->
      <div class="form-group">
        <label for="task" class="control-label">
          Task
        </label>

        <input type="text" id="task" name="task" placeholder="Task" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for next_check_date -->
      <div class="form-group">
        <label for="next_check_date" class="control-label">
          Next check date
        </label>

        <input type="text" id="next_check_date" name="next_check_date" placeholder="Next check date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Post Meeting Check
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
