<div class="page-header">
  <h3>Meeting #<%= @meeting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @meeting.user_id %></dd>

      <dt>Title</dt>
      <dd><%= @meeting.title %></dd>

      <dt>Purpose</dt>
      <dd><%= @meeting.purpose %></dd>

      <dt>Benefit</dt>
      <dd><%= @meeting.benefit %></dd>

      <dt>Check</dt>
      <dd><%= @meeting.check_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meetings" class="btn btn-primary">
        Back
      </a>
      <a href="/meetings/<%= @meeting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meeting/<%= @meeting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Meeting has many post_meeting_checks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Post_meeting_checks
      </li>

      <% @meeting.post_meeting_checks.each do |post_meeting_check| %>
        <li class="list-group-item">
          <a href="/post_meeting_checks/<%= post_meeting_check.id %>">
            <%= post_meeting_check.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/post_meeting_checks/<%= post_meeting_check.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/post_meeting_checks/<%= post_meeting_check.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_post_meeting_check/<%= post_meeting_check.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
