<!-- Validation failure messages -->
<% if @post_meeting_check.errors.any? %>
  <% @post_meeting_check.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Post Meeting Check</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_post_meeting_check" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for check_id -->
      <div class="form-group">
        <label for="check_id" class="control-label">
          Check
        </label>

        <%= select_tag(:check_id, options_from_collection_for_select(Meeting.all, :id, :user_id, @post_meeting_check.check_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @post_meeting_check.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for task -->
      <div class="form-group">
        <label for="task" class="control-label">
          Task
        </label>

        <input type="text" id="task" name="task" placeholder="Task" class="form-control" value="<%= @post_meeting_check.task %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @post_meeting_check.description %></textarea>
      </div>

      <!-- Label and input for next_check_date -->
      <div class="form-group">
        <label for="next_check_date" class="control-label">
          Next check date
        </label>

        <input type="text" id="next_check_date" name="next_check_date" placeholder="Next check date" class="form-control" value="<%= @post_meeting_check.next_check_date %>">
      </div>

      <button class="btn btn-success">
        Create Post Meeting Check
      </button>
      or
      <a href="/post_meeting_checks">Cancel</a>
    </form>
  </div>
</div>
