<!-- Validation failure messages -->
<% if @person.errors.any? %>
  <% @person.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Person</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_person" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @person.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @person.name %>">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="text" id="photo" name="photo" placeholder="Photo" class="form-control" value="<%= @person.photo %>">
      </div>

      <!-- Label and input for relationship -->
      <div class="form-group">
        <label for="relationship" class="control-label">
          Relationship
        </label>

        <input type="text" id="relationship" name="relationship" placeholder="Relationship" class="form-control" value="<%= @person.relationship %>">
      </div>

      <!-- Label and input for phone -->
      <div class="form-group">
        <label for="phone" class="control-label">
          Phone
        </label>

        <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" value="<%= @person.phone %>">
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @person.email %>">
      </div>

      <!-- Label and input for meeting_id -->
      <div class="form-group">
        <label for="meeting_id" class="control-label">
          Meeting
        </label>

        <%= select_tag(:meeting_id, options_from_collection_for_select(SharedMeeting.all, :id, :user_id, @person.meeting_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Person
      </button>
      or
      <a href="/people">Cancel</a>
    </form>
  </div>
</div>
