<div class="jumbotron">
  <h1>PDQ Planner</h1>
  <p>Productive. Direct. Quintessential.</p>
  <p><a class="btn btn-primary btn-lg" href="/contacts/new" role="button">Create a New Contact</a></p>
</div>

<div class="page-header">
  <h3>Here Are Your Contacts:</h3>
</div>

<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "contacts_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :phone_cont, "Phone contains" %>
    <%= f.text_field :phone_cont, :class => "form-control", :placeholder => "Phone contains" %>
  </div>

<div class="form-group">
    <%= f.label :relationship_cont, "Relationship contains" %>
    <%= f.text_field :relationship_cont, :class => "form-control", :placeholder => "Relationship contains" %>
  </div>

<div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/contacts" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#contacts_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Relationship</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

      <% @contacts.each do |contact| %>
      <tr>
        <td>
          <% if contact.user.present? %>
            <a href="/users/<%= contact.user.id %>">
              <%= contact.user.name %>
            </a>
          <% end %>
        </td>
        <td><%= contact.name %></td>
        <td><img src='<%= contact.photo %>' class='img-responsive'></td>
        <td><%= contact.relationship %></td>
        <td><%= contact.phone %></td>
        <td>
          <% if contact.meeting.present? %>
            <a href="/shared_meetings/<%= contact.meeting.id %>">
              <%= contact.meeting.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/contacts/<%= contact.id %>" class="btn btn-primary">Show</a>
          <a href="/contacts/<%= contact.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_contact/<%= contact.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @contacts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
