<div class="page-header">
  <h1>
    Shared meetings
    <a href="/shared_meetings/new" class="btn btn-lg btn-success">New Shared meeting</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @shared_meetings.each do |shared_meeting| %>
      <tr>
        <td>
          <% if shared_meeting.user.present? %>
            <a href="/users/<%= shared_meeting.user.id %>">
              <%= shared_meeting.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/shared_meetings/<%= shared_meeting.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == shared_meeting.user %>
            <a href="/shared_meetings/<%= shared_meeting.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_shared_meeting/<%= shared_meeting.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @shared_meetings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
