<div class="page-header">
  <h3>Shared Meeting #<%= @shared_meeting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @shared_meeting.user.present? %>
          <a href="/users/<%= @shared_meeting.user_id %>">
            <%= @shared_meeting.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/shared_meetings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @shared_meeting.user %>
        <a href="/shared_meetings/<%= @shared_meeting.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_shared_meeting/<%= @shared_meeting.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Shared meeting has many people -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        People
      </li>

      <% @shared_meeting.people.each do |contact| %>
        <li class="list-group-item">
          <a href="/contacts/<%= contact.id %>">
            <%= contact.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/contacts/<%= contact.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/contacts/<%= contact.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_contact/<%= contact.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_contact" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for relationship -->
      <div class="form-group">
        <label for="relationship" class="control-label">
          Relationship
        </label>

        <input type="text" id="relationship" name="relationship" placeholder="Relationship" class="form-control" value="">
      </div>

      <!-- Label and input for phone -->
      <div class="form-group">
        <label for="phone" class="control-label">
          Phone
        </label>

        <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" value="">
      </div>

      <!-- Label and input for meeting_id -->
      <div class="form-group">
        <label for="meeting_id" class="control-label">
          Meeting
        </label>

        <%= select_tag(:meeting_id, options_from_collection_for_select(SharedMeeting.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Contact
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
